@import url('https: //fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

/*---------------------
		General
---------------------*/

* {
	font-family: Source Sans, sans-serif;
	color: #fff;
}

::selection { 
	background-color: #C3C3C3;
	color: #fff;
}

.text-center { text-align: center; }
.justify-content-evenly { justify-content: space-evenly; }
.row { margin: 1.5rem 0; }

body { background-color: #212121; }

.blur{
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.ownButton {
	padding: 1.2rem;
	background-color: #6C6C6C;
	border-radius: 15px;
	cursor: pointer;
	transition: all .3s ease-in-out;
	border: 1.5px solid #fff;
	font-weight: 700;
	margin: 10px 5px;
}

.ownButton:hover { transform: translateY(-10px); }
.ownButton:hover, .ownButton:active { background-color: #525252; }
.ownButton:active, .ownButton:focus { outline: none; }

@media(max-width: 574px){
	.sm-text-center { text-align: center; }
}

@keyframes arrow {
	0% { transform: translateX(0); }
	25% { transform: translateX(15px); }
	50% { transform: translateX(0); }
	75% { transform: translateX(10px); }
	100% { transform: translateX(0); }
}

/*---------------------
	  Login Page
---------------------*/

#loginHolder {
	border-radius: 15px;
	border: 2.5px solid #fff;
	background-color: #3B3B3B;
	padding: 1.3rem;
}

#loginHolder h2 {
	color: #FEFEFE;
	margin-bottom: 20px;
}

#loginHolder input {
	display: block;
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: none;
	border: 1px solid #fff;
	border-radius: 8px;
	background-color: #2B2B2B;
}

#loginHolder input:active,
#loginHolder input:focus {
	outline: none;
	background-color: #202020;
}

#loginHolder #loginSubmit {
	padding: .75rem 2rem;
	background-color: #2B2B2B;
	border: none;
	border: 1.5px solid #fff;
	border-radius: 5px;
	font-weight: 600;
	margin-top: 20px;
	transition: all .3s ease-in-out;
}

#loginHolder #loginSubmit i { 
	margin-left: 10px; 
	transition: all .3s ease-in-out;
}

/*#loginHolder #loginSubmit:hover { transform: scale(1.1); }*/
#loginHolder #loginSubmit:hover i { animation: arrow .75s ease-out 0s; }

.alert { margin: 20px 0; }
.alert strong, .alert button span { color: #721C24; }

/*---------------------
		Header
---------------------*/

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 4rem;
	background-color: #000;
	z-index: 200;
}

header .container-fluid { 
	height: 100%;
	padding: 0; 
}

header .row { 
	height: 100%;
	margin: 0;
	align-items: center;
}

header div { text-align: center; }

header a,
header a i,
header span { 
	color: #fff;
	transition: all .3s ease-in-out !important;
}

header a:hover,
header a:hover i,
header a:hover span { 
	color: #777; 
	text-decoration: none;
}

header h3 { 
	font-weight: 600; 
	margin: 0;
}

header p { 
	margin: 0;
	font-weight: 600;
    font-size: 18px;
    line-height: 20px;
}

@media(max-width: 767px){
	#navLogOut { order: 2; }

	#navLogOut a {
		display: block;
		text-align: right;
		padding-right: 20px;
		font-size: 20px;
	}

	#navLogOut span { display: none; }

	#navTitle { 
		order: 1;
		text-align: left;
		padding-left: 20px;
	}

	#navUser { display: none; }
}

/*---------------------
	Absence Tracker
---------------------*/

.page-wrapper { margin-top: 5rem; }

.classContainer {
	padding: 1.2rem;
	background-color: #6C6C6C;
	margin: 1.5rem .5rem;
	border-radius: 15px;
	min-height: 7rem;
	transition: all .3s ease-in-out;
	border: 1.5px solid #fff;
}

.classContainer, .classContainer * { cursor: pointer; }
.classContainer:hover { transform: translateY(-15px); }
.classContainer:hover, .classContainer:active { background-color: #525252; }

.classContainer .d-table {
	width: 100%;
	height: 100%;
}

.classContent {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.classTitle {
	font-size: 20px;
	line-height: 24px;
}

.absenceCounter {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 0;
}

.absences {
	font-weight: 700;
	font-size: 40px;
	line-height: 44px;
	margin: 15px 0;
	display: block;
}

@media(max-width: 574px){
	.classContainer { padding: .8rem; }
}

/*---------------------
		Periods
---------------------*/

#newPeriodClass {
	background-color: transparent;
	padding: 1rem 1.5rem;
	width: 100%;
	border: none;
	border-bottom: 1.5px solid #ccc;
	margin: 1.5rem auto;
	outline-color: #ccc;
}

#newPeriodClass option { background-color: #363636; }

/*---------------------
   Restarting Buttons
---------------------*/

#restartingButtons h2 { margin-bottom: 2rem; }

/*---------------------
     Absence Table
---------------------*/

.table > thead > tr > th:first-child,
.table > tbody > tr > th {
    position: absolute;
    display: table-cell !important;
    min-width: 120px;
    background-color: #313438;
}

.table > thead > tr > th:nth-child(2),
.table > tbody > tr > td:nth-child(1) {
    padding-left: 125px !important;
}

.table > thead > tr > th { min-height: 50px; }
.table th, .table td { vertical-align: middle !important; }

.table > thead > tr > th > p {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/*---------------------
		Modal
---------------------*/

.modal-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .85);
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.modal-wrapper.open {
	opacity: 1;
	visibility: visible;
}

.modal {
	height: 50%;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	padding: 0;
}

.modal-wrapper.open .modal { opacity: 1; }

.content {
	padding: 5%;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.content form,
.content #addAbsenceForm input { display: none; }

.content input {
	border-radius: 8px;
	border: none;
	border: 1px solid #111;
	padding: 5px 8px;
	color: #000;
}

.content input:active, .content input:focus { outline: none; }

.btn-close {
	width: 32px;
	height: 32px;
	display: block;
	float: right;
	margin-top: 25px;
	margin-right: 25px;
	z-index: 800;
	position: relative;
}

.btn-close::before, .btn-close::after {
	content: '';
	width: 32px;
	height: 6px;
	display: block;
	background: #8a8a8a;
}

.btn-close::before {
	margin-top: 12px;
	transform: rotate(45deg);
}

.btn-close::after {
	margin-top: -6px;
	transform: rotate(-45deg);
}

.modal .content p,
.modal .content label { 
	color: #000;
	font-size: 24px;
	margin: 2rem 0;
}

.modal .content p strong { color: #000; }

.modal button {
	padding: 1rem 3rem;
	background-color: #313131;
	border: none;
	border-radius: 15px;
	margin-top: 1.5rem;
	font-weight: 700;
	transition: all .3s ease-in-out;
}

.modal button:hover { transform: translateY(-10px); }

@media(max-width: 574px){
	.modal { height: 85%; }
}